body {
    font-family: 'Saira', sans-serif;
    background: black;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/*.jumbotron {
    background-image: url("../images/eight_horns.png");
    text-align: center;
}*/

#main {
	height: 100vh;
	width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;	
}

#main img {
	width: 120%;
    height: auto;
    position: relative;
    top: -26%;
    left: -7%;
    transition: ease 60s all;
}

h1 {
	font-size: 100px;
	color: white;
	left: 35%;
	position: absolute;
	top: 50%;
}

.links {
	position: absolute;
    top: 35%;
    left: 35%;
    width: 600px;
}

.links a {
	padding: 0 50px;
}

.links svg {
	width: 60px;
	height: auto;
    fill: white;
}
.links svg:hover {
    fill: rgb(34, 35, 63);
}

@media (max-width: 768px) {
    #main {
        background-image: url('../images/home-background.jpeg');
        background-size: cover;
        width: 200vw;
        height: 200vh;
    }

    #main img {
        display: none;
    }

    .content {
        width: 100vw;
    }

    h1 {
        width: 178vw;
        top: 70%;
        left: 15%;
        text-align: center;
    }

    .links {
       top: 50%;
        left: 33%;
    }
}


@media (min-width: 768px and max-width: 900px) {

}